<div class="row">
  <div class="col-md-4 col-md-offset-4">
<%= form_for(@cleaner) do |f| %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: 'form-control' %><br>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: 'form-control' %><br>
  </div>
  <div class="field">
    <%= f.label :quality_score %><br>
    <%= f.text_field :quality_score, class: 'form-control' %><br>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number, class: 'form-control' %><br>
  </div>

  <%= f.collection_check_boxes :city_ids, City.all, :id, :city do |b| %>
    <%= b.check_box %>
    <%= b.label %><br>
  <% end %>

  <center>
    <div><br>
      <%= f.submit %>
    </div>
  </center>
<% end %>
  </div>
</div>
