<% provide(:title, "Log in") %>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <center>
    <h1>Log in</h1>
    </center>

    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :first_Name %><br>
      <%= f.text_field :first_name, class: 'form-control' %><br>

      <%= f.label :phone_Number %><br>
      <%= f.text_field :phone_number, class: 'form-control'%><br><br>
      <%= f.submit "Log in", class:"btn btn-success btn-lg btn-block" %><br>
    <% end %><br>
    <center>
    <%= link_to 'Create Account', new_customer_path	 %>
    </center>
  </div>
</div>
