<div>
  <%= form_with model: @booking, url: customer_bookings_path, local: true do |f| %>

    <div class="field">
      <%= f.label :date %><br>
      <%= f.date_field :date %><br><br>
    </div>

    <div class="btn dropdown">
        <%= f.label :Select_Cleaner %><br>
        <%= f.collection_select :cleaner_id, @cleaners, :id, :first_name %><br><br>
      <%= f.submit %>
    </div>  
  <% end %>
</div>
