<p id="notice"><%= notice %></p>

<center><h1>Your Bookings</h1></center>
<%= link_to 'New Booking', new_customer_booking_path, class: "btn btn-primary" %><br><br>

<table class="table table-hover" width="10%">
    <tr>
      <th>Customer</th>
      <th>Cleaner</th>
      <th>Date</th>
    </tr>

    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.customer.first_name %></td>
        <td><%= booking.cleaner.first_name %></td>
        <td><%= booking.date %></td>
      </tr>
    <% end %>
</table>
